<po-page-default [p-breadcrumb]="breadcrumb" p-title="Nova Estrutura de Orçamento">
  <div>
    <po-stepper #stepper [p-sequential]="true">
      <po-step p-label="Definição" class="tsc-center">
       <!-- [p-can-active-next-step]="isConfirmedEstrutura.bind(this)" -->
       <po-widget
          [p-height]="580"
          class="po-md-8"
          p-primary-label="Próximo passo"
          p-title="Identifique a estrutura"
          (p-primary-action)="stepper.next()">
          <form #definicaoForm="ngForm">
            <div class="po-row">
              <po-input
                class="po-md-6"
                name="descricao"
                [(ngModel)]="nomeEstrutura"
                p-label="Descrição"
                [p-optional]="false"
                p-placeholder=""
                p-required="true"
                p-readonly="false"
                p-auto-focus="true">
              </po-input>
            </div>
            <div class="po-row">                
              <po-switch 
                class="po-md-2"
                name="switch" 
                p-label="Estrutura" 
                [(ngModel)]="tipoEstrutura"
                p-label-off="Especial"
                p-label-on="Padrão">
              </po-switch>
              <po-switch 
                class="po-md-3"
                name="switch" 
                p-label="Estrutura Especial" 
                [p-disabled]="tipoEstrutura ? true : false"
                [(ngModel)]="tipoEstEspecial"
                p-label-off="Recuperação de Calor"
                p-label-on="Genérica">
              </po-switch>
            </div>
            <div class="po-row">
              <po-multiselect 
                class="po-md-6"
                p-auto-height="true"
                (p-change)="onChangeParametro($event)"   
                p-field-label="zx2_desc"
                p-field-value="zx2_cod"
                [p-filter-service]="parametrosUrl" 
                p-hide-select-all="true"
                p-label="Parâmetro"
                p-placeholder="Selecione um parâmetro">
              </po-multiselect> 
              <po-switch 
                class="po-md-12"
                name="switch" 
                p-label="Status" 
                [(ngModel)]="statusEstrutura"
                p-label-off="Bloqueada"
                p-label-on="Disponível">
              </po-switch>
            </div>
          </form>
        </po-widget>
      </po-step>
      <po-step p-label="Estrutura">
        <p class="po-font-subtitle">Faça a criação da estrutura</p>
        <div class="po-lg-4">
          <div class="po-table-actions">
            <!-- <po-button 
              p-icon="an an-plus"
              p-label="Estrutura"
              p-small="false"
              p-kind="default"
              (p-click)="adicionarEstrutura('Estrutura ' + (estruturas.length + 1))">
            </po-button> -->
            <po-button 
              p-icon="an an-plus"
              p-label="Buscar"
              p-small="false"
              p-kind="default"
              (p-click)="details()">
            </po-button>
          </div>
          <po-accordion
            #accordion 
            [p-show-manager-accordion]="true"
            >
            <po-accordion-item 
              class="po-md-6"
              *ngFor="let estrutura of estruturas; let i = index" 
              p-label="{{ estrutura.label }}"
              #accordionItem>
              <div class="finalLinha">
                <po-tag
                  p-color="color-0{{ i+1 }}"
                  p-value="Estrutura {{i+1}}" 
                  p-text-color="white"
                  >
                </po-tag>
              </div>
              <div class="po-row">&nbsp;</div>  
                <!-- <po-select
                  class="po-md-6"
                  name="produto"
                  (p-change)="onChangeProduto($event,i)"
                  p-disabled="false"
                  p-label="Produto"
                [p-options]="produtos"
                p-optional="false"
                p-placeholder=""
                p-required="false"
                p-readonly="false"
                p-auto-focus="false">
              </po-select> -->
              <po-tree-view
                [p-selectable]="true"
                [p-items]="produtosTree[i]"
                (p-selected)="selecionarTreeIrem($event)"
                (p-unselected)="removerTreeItem($event)"
                [p-max-level]="5">
              </po-tree-view>
              <po-divider></po-divider>
              <po-multiselect
                name="servicos"
                p-label="Serviços"
                [p-options]="opcoesServicos"
                (p-change)="changeservico($event)">
              </po-multiselect>
              <po-widget
                p-title="Serviços da estrutura {{i+1}}"
                (p-primary-action)="checkOut()">
                <po-table
                  p-striped
                  [p-spacing]="tableSpacing"
                  [p-columns]="colunasServicos"
                  [p-items]="itemsServicos[i]"
                  [p-hide-table-search]="true"
                  [p-hide-columns-manager]="true">
                </po-table>
              </po-widget>
              <po-button 
                *ngIf="estruturas.length > 1"
                class="po-table-actions"
                p-icon="an an-trash"
                p-label=" "
                p-danger="true"
                (p-click)="removerEstrutura(i)">
              </po-button>
            </po-accordion-item>
          </po-accordion> 
        </div>
        <div class="po-lg-8">
          <div class="po-table-actions">
            <div class="po-table-actions-batch-actions">
                <po-button 
                  p-icon="an an-trash"
                  p-label=" "
                  p-danger="true"
                  [p-disabled]="acaoBotoesTable"
                  (p-click)="deletarProdutoEstrutura()"
                  >
                </po-button>
                <po-button 
                  p-icon="an an-copy"
                  p-label=" "
                  [p-disabled]="acaoBotoesTable"
                  (p-click)="copiarEstrutura()"
                  >
                </po-button>
                <po-button 
                  p-icon="an an-stack-plus"
                  p-label=" "
                  [p-disabled]="this.produtosEstruturaCopiar.length > 0 ? false : true"
                  (p-click)="colarEstrutura()"
                  >
                </po-button>
                <po-button 
                  p-icon="an an-paint-bucket"
                  p-label=" "
                  [p-disabled]="this.produtosEstrutura.length > 0 ? false : true"
                  (p-click)="gerarMaoDeObra()">
                </po-button>
                <po-button 
                  p-icon="an an-wrench"
                  p-label=" "
                  [p-disabled]="this.produtosEstrutura.length > 0 ? false : true"
                  (p-click)="gerarMaoDeObra()">
                </po-button>
                <po-button 
                  p-icon="an an-truck"
                  p-label="C+S+F"
                  [p-disabled]="this.produtosEstrutura.length > 0 ? false : true"
                  (p-click)="gerarMaoDeObra()">
                </po-button>
                <po-button 
                  p-icon="an an-chat-text"
                  p-label=" "
                  [p-disabled]="this.produtosEstrutura.length > 0 ? false : true"
                  (p-click)="gerarMaoDeObra()">
                </po-button>
            </div>
            <po-search
              p-placeholder="Pesquisar"
              p-aria-label="teste"
              name="Po Search"
              class="po-md-6"
              [p-items]="produtosEstrutura"
              [p-filter-select]="listaFiltros"
              (p-filtered-items-change)="filtrarProdutos($event)"
              (p-change-model)="VerificarFiltroProdutos($event)"
            ></po-search>
          </div>
          <po-table
            p-container="true"
            [p-height]="1000"
            [p-hide-batch-actions]="true"
            [p-hide-columns-manager]="true"
            [p-hide-table-search]="true"
            [p-selectable]="true"
            [p-sort]="true"
            [p-actions]="actions"
            [p-columns]="columnsProdutosEstrutura"
            [p-items]="produtosEstrutura"
            [p-max-columns]="7"
            [p-spacing]="tableSpacing"
            (p-collapsed)="onCollapseDetail()"
            (p-expanded)="onExpandDetail()"
            (p-selected)="selecionarProduto($event)"
            (p-unselected)="deselecionarProduto($event)"
            (p-all-selected)="selecionarProduto($event)"
            (p-all-unselected)="deselecionarProduto($event)"
            (p-change-visible-columns)="changeColumnVisible($event)"
            (click)="cliqueLinha($event)"
            [p-infinite-scroll]="true">
          </po-table>
        </div>
      </po-step>
      <po-step p-label="Produtividade" class="tsc-center" [p-can-active-next-step]="isConfirmed.bind(this)">
        <po-widget
          [p-height]="580"
          class="po-md-8"
          p-primary-label="Gravar estrutura"
          p-title="Revise os totais da estrutura"
          (p-primary-action)="checkOut()">
          <po-table
            [p-columns]="columnsItemsSelected"
            [p-spacing]="tableSpacing"
            [p-items]="itemsListSelected"
            [p-hide-table-search]="true"
            [p-hide-columns-manager]="true">
          </po-table>
        </po-widget>
      </po-step>
      <po-step p-label="Confirmação">
        <po-widget>
          <div class="po-row po-font-display">
            <p>Estrutura finalizada</p>
            <po-icon p-icon="po-icon an an-check"></po-icon>
          </div>
        </po-widget>
      </po-step>
    </po-stepper>
  </div>
  <po-modal [p-title]="tituloModel" [p-primary-action]="selecionar" [p-secondary-action]="novoProduto">
    <po-loading-overlay *ngIf="isLoadingBusca" p-text="Carregando..."> </po-loading-overlay>
    <div class="po-table-actions">
      <po-search
        p-placeholder="Pesquisar"
        p-aria-label="teste"
        name="Po Search"
        class="po-md-6"
        [p-items]="produtosBusca"
        (p-change-model)="BuscarProdutos($event)"
        p-search-type="trigger"
      ></po-search>
    </div>
    <po-table
      p-container="true"
      [p-height]="500"
      [p-hide-batch-actions]="true"
      [p-hide-columns-manager]="true"
      [p-hide-table-search]="true"
      [p-spacing]="tableSpacing"
      [p-sort]="true"
      [p-columns]="columnsProdutosBusca"
      [p-items]="produtosBusca"
      [p-selectable]="true"
      [p-infinite-scroll]="true">
    </po-table>
  </po-modal>
</po-page-default>