<po-page-default [p-breadcrumb]="breadcrumb" p-title="Nova Estrutura de Orçamento" [p-actions]="pageActions">
  <po-stepper #stepper 
    [p-sequential]="true"
    p-step-icon-active="an an-factory"
    p-step-icon-inactive="po-icon-check"
    p-step-icon-complete="po-icon-check">
    <po-step p-label="Definição" class="tsc-center" [p-can-active-next-step]="isConfirmedEstrutura.bind(this,1)" >
      <po-widget
        class="po-md-5"
        p-primary-label="Próximo passo"
        p-title="Definição da estrutura"
        (p-primary-action)="stepper.next()">
        <form #definicaoForm="ngForm">
          <div class="po-row">                
            <po-switch 
              class="po-md-4"
              name="switch" 
              p-label="Tipo de Estrutura" 
              [(ngModel)]="tipoEstrutura"
              p-label-off="Especial"
              p-label-on="Padrão">
            </po-switch>
            <po-switch 
              class="po-md-4"
              name="switch" 
              p-label="Status" 
              [(ngModel)]="statusEstrutura"
              p-label-off="Bloqueada"
              p-label-on="Disponível">
            </po-switch>
          </div>
          <div class="po-row">
            <po-input
              class="po-md-10"
              name="descricao"
              [(ngModel)]="nomeEstrutura"
              p-placeholder="Nome da estrutura"
              p-label="Descrição"
              [p-optional]="false"
              p-required="true"
              p-readonly="false"
              p-auto-focus="true">
            </po-input>
          </div>
          <div class="po-row">
            <po-multiselect 
              class="po-md-10"
              p-auto-height="true"
              name="parametroEstrutura"
              [(ngModel)]="parametroEstrutura"
              (p-change)="onChangeParametro($event, parametroEstrutura)"   
              p-field-label="zx2_desc"
              p-field-value="zx2_cod"
              [p-disabled]="!tipoEstrutura"
              [p-filter-service]="parametrosUrl" 
              p-hide-select-all="true"
              p-label="Parâmetro"
              p-placeholder="Selecione os parâmetros para o cálculo">
            </po-multiselect> 
          </div>
          <div class="po-row">
            <po-input
              class="po-md-5"
              name="areaInterna"
              [(ngModel)]="areaInterna"
              p-label="Área Interna"
              [p-optional]="true"
              type="number"
              p-placeholder="Valor área interna"
              p-readonly="false"
              p-auto-focus="true">
            </po-input>
            <po-input
              class="po-md-5"
              name="areaExterna"
              [(ngModel)]="areaExterna"
              p-label="Área Externa"
              [p-optional]="true"
              type="number"
              p-placeholder="Valor área externa"
              p-readonly="false"
              p-auto-focus="true">
            </po-input>
          </div>
          <div class="po-row">
            <po-textarea
              class="po-md-10"
              name="observacao"
              [(ngModel)]="observacao"  
              p-label="Observação"
              [p-optional]="true"  
              [p-rows]="2">
            </po-textarea>              
          </div> 
        </form>
      </po-widget>
    </po-step>
    <po-step p-label="Estrutura" class="tsc-center" [p-can-active-next-step]="isConfirmedEstrutura.bind(this,2)">
      <po-widget
        class="po-md-12"
        p-primary-label="Próximo passo"
        p-title="Montagem da Estrutura"
        (p-primary-action)="geraTotaisEstruturas()">
        <div class="po-lg-4">
          <div class="po-table-actions">
            <po-button 
              p-icon="an an-plus"
              p-label=" "
              p-small="false"
              p-kind="default"
              (p-click)="modelProdutos(null)">
            </po-button>
          </div>
          <po-accordion
            #accordion 
            [p-show-manager-accordion]="true">
            <po-accordion-item 
              class="po-md-6"
              *ngFor="let estrutura of estruturas; let i = index" 
              p-label="{{ estrutura.label }}"
              #accordionItem>
              <div class="finalLinha">
                <po-tag
                  p-color="color-0{{ i+1 }}"
                  p-value="Estrutura {{i+1}}" 
                  p-text-color="white">
                </po-tag>
              </div>
              <div class="po-row">&nbsp;</div>
              <div class="po-table-actions">
                <po-button
                  p-icon="an an-trash"
                  p-label=" "
                  p-danger="true"
                  (p-click)="removerEstrutura(i)">
                </po-button>
                <po-button 
                  p-icon="an an-plus"
                  p-label=" "
                  (p-click)="modelProdutos(i)">
                </po-button>
              </div>
              <po-tree-view
                [p-selectable]="true"
                [p-items]="produtosTree[i]"
                (p-selected)="selecionarTreeIrem($event)"
                (p-unselected)="removerTreeItem($event)"
                [p-max-level]="5">
              </po-tree-view>
              
              <po-divider></po-divider>
              <po-multiselect 
                class="po-md-10"
                p-auto-height="true"
                name="parametroEstruturaEspecial"
                [(ngModel)]="parametroEstruturaEspecial[i]"
                [ngModelOptions]="{standalone: true}"
                (p-change)="onChangeParametro($event,parametroEstruturaEspecial[i],i)"   
                p-field-label="zx2_desc"
                p-field-value="zx2_cod"
                [p-disabled]="tipoEstrutura"
                [p-filter-service]="parametrosUrl" 
                p-hide-select-all="true"
                p-label="Parâmetro"
                p-placeholder="Selecione um parâmetro">
              </po-multiselect> 
              <po-divider></po-divider>
              <po-widget
                p-title="Resumo da estrutura {{i+1}}"
                (p-primary-action)="checkOut()">
                <po-table
                  [p-spacing]="tableSpacing"
                  [p-columns]="colunasTotais"
                  [p-items]="itemsTotais[i]"
                  [p-hide-table-search]="true"
                  [p-hide-columns-manager]="true">
                </po-table>
              </po-widget>
              
            </po-accordion-item>
          </po-accordion> 
        </div>
        <div class="po-lg-8">
          <div class="po-table-actions">
            <div class="po-table-actions-batch-actions">
              <po-button 
                p-icon="an an-trash"
                p-label=" "
                p-danger="true"
                [p-disabled]="acaoBotoesTable"
                (p-click)="deletarProdutoEstrutura()">
              </po-button>
              <po-button 
                p-icon="an an-copy"
                p-label=" "
                [p-disabled]="acaoBotoesTable"
                (p-click)="copiarEstrutura()">
              </po-button>
              <po-button 
                p-icon="an an-stack-plus"
                p-label=" "
                [p-disabled]="this.produtosEstruturaCopiar.length > 0 ? false : true"
                (p-click)="colarEstrutura()">
              </po-button>
            </div>
            <po-search
              p-placeholder="Pesquisar"
              p-aria-label="teste"
              name="Po Search"
              class="po-md-6"
              [p-items]="produtosEstrutura"
              [p-filter-select]="listaFiltros"
              (p-filtered-items-change)="filtrarProdutos($event)"
              (p-change-model)="VerificarFiltroProdutos($event)">
            </po-search>
          </div>
          <po-table
            p-container="true"
            [p-hide-batch-actions]="true"
            [p-hide-columns-manager]="true"
            [p-hide-table-search]="true"
            [p-selectable]="true"
            [p-sort]="true"
            [p-actions]="actions"
            [p-columns]="columnsProdutosEstrutura"
            [p-items]="produtosEstrutura"
            [p-max-columns]="7"
            [p-spacing]="tableSpacing"
            (p-collapsed)="onCollapseDetail()"
            (p-expanded)="onExpandDetail()"
            (p-selected)="selecionarProduto($event)"
            (p-unselected)="deselecionarProduto($event)"
            (p-all-selected)="selecionarProduto($event)"
            (p-all-unselected)="deselecionarProduto($event)"
            (p-change-visible-columns)="changeColumnVisible($event)"
            (click)="cliqueLinha($event)"
            [p-infinite-scroll]="true">
          </po-table>
        </div>
      </po-widget>
    </po-step>
    <po-step p-label="Valores" class="tsc-center">
      <po-widget
        class="po-md-4"
        p-title="Revisão da estrutura"
        (p-primary-action)="salvarEstrutura()">
        <po-table
          [p-columns]="colunasTotais"
          [p-spacing]="tableSpacing"
          [p-items]="itemsTotalGeral"
          [p-hide-table-search]="true"
          [p-hide-columns-manager]="true">
        </po-table>
      </po-widget>
    </po-step>
  </po-stepper>

  <po-modal [p-title]="tituloModel" [p-primary-action]="selecionar" [p-secondary-action]="novoProduto">
    <po-loading-overlay *ngIf="isLoadingBusca" p-text="Carregando..."> </po-loading-overlay>
    <div class="po-table-actions">
      <po-search
        p-placeholder="Pesquisar"
        p-aria-label="teste"
        name="Po Search"
        class="po-md-6"
        [p-items]="produtosBusca"
        (p-change-model)="BuscarProdutos($event)"
        p-search-type="trigger">
      </po-search>
    </div>
    <po-table
      p-container="true"
      [p-height]="500"
      [p-hide-batch-actions]="true"
      [p-hide-columns-manager]="true"
      [p-hide-table-search]="true"
      [p-spacing]="tableSpacing"
      [p-sort]="true"
      [p-columns]="columnsProdutosBusca"
      [p-items]="produtosBusca"
      [p-selectable]="true"
      [p-infinite-scroll]="true">
    </po-table>
  </po-modal>
</po-page-default>