<po-page-default
  p-title="Painel de Orçamentos"
  [p-breadcrumb]="breadcrumb"
  > 
  <div class="po-row">
    <po-chart
        class="po-lg-6 po-mt-2"
        p-title="Orçamentos neste ano"
        [p-series]="chartInadimplentes"
        [p-type]="chartType"
        (p-series-click)="showMeTheDates($event)"
      >
    </po-chart>
    <po-chart
        class="po-lg-6 po-mt-2"
        p-title="Histórico de orçamentos por mês."
        [p-options]="options"
        [p-categories]="categories"
        [p-series]="participationByCountryInWorldExports"
        [p-type]="participationByCountryInWorldExportsType"
      >
      </po-chart>
  </div>
  <po-divider></po-divider>  
</po-page-default> 


