:root {
    --color-brand-01-base: red;
    --color-brand-02-base: green;
    --color-brand-03-base: blue;
    --color-action-default: #24224c;
    --color-brand-01-base: #24224c;
    --color-toolbar-color-title: #24224c;
}