
/* Tema personalizado  */

.tsc-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

po-button[p-kind="primary"] {
    --color: #24224c;
    --color-pressed: #24224c;
    --border-color: #24224c;
    --text-color: #fff100;  
    --background-hover: #045b8f;
}

po-button[p-kind="secondary"] {
    --color: #24224c;
    --border-color-hover: #fff100;
    --background-hover: #24224c;
    --background-pressed: #29275b;
}

po-button[p-kind="tertiary"] {
    --color: #24224c;
    --border-color-hover: #fff100;
    --background-hover: #24224c;
    --background-pressed: #24224c;
    
}

po-dropdown-button {
    --color: #24224c;
    --color-pressed: #fff100;
    --border-color: #fff100;
    --text-color: #fff100;  
    --background-hover: #fff100;
}

po-dropdown {
    --color: #24224c;

    /* hover */
    --color-hover: var(--color-brand-01-darkest);
    --background-hover: var(--color-brand-01-lighter);

    /* focus */
    --outline-color-focused: var(--color-transparent);

    /* pressed */
    --background-pressed: #fff100;

    /* disabled */
    --color-disabled: var(--color-action-disabled);

    /* background color */
    --background: var(--color-transparent);
}

.po-dropdown-button-open, .po-dropdown-button-open:hover {
    background: #fffccc;
}


.po-item-list__selected {
    background-color: #fffaaa;
}

.po-popup .po-item-list__action {
    color:#24224c;
}

po-switch {
    --color-checked: #24224c;
    --track-checked: #fff100;
    --track-unchecked: #24224c;
    --color-unchecked: #fff100;
    --color-unchecked-hover: #fffaaa;
    --outline-color-focused: transparent;
    color: #24224c;

    --color-unchecked-disabled: #b2b2b2;
    --color-checked-disabled: #b2b2b2;


}

.po-switch-label > label.po-label:not(.po-label-disabled) {
    color: #24224c;
} 

[aria-checked=true][aria-disabled=true] .po-switch-track {
    background-color: #b2b2b2;
}

[aria-disabled=true] .po-switch-track {
    background-color: #b2b2b2;
}

po-radio {
    --color-checked: #24224c;
    --shadow-color-hover: #fff100;
}

po-disclaimer {
    --color: #24225c;
    --color-icon: #ffffff;
    --text-color: #ffffff;
    --color-hover: #fff100;
}

input.po-input {
    --color: #24224c;
    --color-hover: #fff100;
    --text-color: #24224c;
    --background-hover: #fffeee;
    background-color: #ffffff;
}

po-select {
    --color: #000000;
    --color-hover: #fff100;
    --background: #ffffff;
    --background-hover: #fffeee;
    --text-color: #24224c;
}

po-textarea {
    --color-hover: #fff100;
    --background-hover: #fffeee;
}

po-dropdown {
    --color-hover: #24224c;
    --background-hover: #fffeee;
}

input.po-datepicker {
    --text-color: #24224c;
    --color-hover: #fff100;
}

po-datepicker po-button[p-kind="tertiary"] {
    --background-hover: #24224c;
    --border-color-hover: #fff100;
}

po-link {
    --text-color-visited: #fff100;
    --text-color: #24224c;
    --outline-color-focused: #24224c;
}

.po-tooltip {
    --text-color: #24224c;
    --color: #fff100;
    
    clip-path: polygon(
        0 40%,
        15% 0,
        100% 0,
        100% 60%,
        85% 100%,
        0% 100%
        ); 
}

po-modal {
    --border-color: #24224c;
    --color-divider: #24224c;
}

po-popup po-item-list {
    --background-hover: #fffeee;
    --background-selected: #fffccc;
}

po-item-list { 
    --background-hover: #fffeee; 
    --outline-color-focused: #24224c; 
    --background-pressed: #fff100; 
    --color-option: #24224c; 
    --background-selected: #fffaaa;
}

po-checkbox {
    --color-checked: #24224c;
    --shadow-color-hover: #fffaaa;
    --color-hover: #fff100;
    --border-color: #24224c;
    --outline-color-focused: #fff100;
}

po-multiselect {
    --color: #24224c;
    --color-hover: #fff100;
    --background-hover: #fffeee;
    background-color: #ffffff;
    --background: #ffffff;
}

po-combo {
    --color-hover: #fff100;
    --background-hover: #fffeee;
    --text-color: #24224c;
}

po-accordion {
    --background-hover: #fffeee;
    --color: #24224c;
    --color-pressed: #24224c;
    --color-hover: #24224c;

    --background-pressed:#fffeee;
    --color-pressed:#fff100;

    --color-focus:#24224c;
    --outline-color-focused:transparent;
}

po-breadcrumb {
    --color-icon: #24224c;
    --color-current-page: #24224c;
    --color: #24224c;
}

po-tag {
    --color-info: #fffeee;
    --text-color-info: #24224c;
    --color: #fffeee;
    --text-color: #24224c;
    --color-hover: #fff100;
    --border-color: #fffaaa;
    --color-icon: #24224c;
}

po-table {
    --color-info: #fffeee;
    --text-color-info: #24224c;
    --color: #24224c;
    --text-color: #24224c;
    --color-line: #24224c;
    --background-color-selected: #fffaaa;
    --background-color-hover: #fffaaa;
    --background-striped-color: #fffeee;
    --background-color-headline: #fff100;
    
    --color-hover: #24224c; 
 
  
    --background-color-hover: #fff100; 

    --outline-color-focused: #24224c; 
 
}

.po-table-row:hover td{
    background: #fffccc;
}

.po-accordion-manager-button {
    background-color: #fff100;
    color: #24224c;
    min-height: 3.40em;
}

po-accordion-manager {
    --background-color: #fff100;
    --color: #24224c; 
    --background-pressed: #fffccc;
    --color-pressed: var(--color-action-pressed);

    --color-focus: #24224c;
    --outline-color-focused: transparent;

}

.po-accordion-manager-icon {
    color: #24224c;
}

.po-accordion-item-header-button {
    min-height: 48px;
}

po-search {
    --text-color: #24224c;
    --color-icon-read: #24224c;
    --color-icon: #fff100;
    --color-hover: #fff100;
    --background-hover: #fffeee;
  }

po-menu {
    --color: #24224c;
}

po-menu-item { 
    
    --color: #24224c;
    --color-hover: #fff100;
    --background-color-hover: #24224c;
    --background-color-actived: #24224c;
    --color-actived: #fff100;
    --outline-color-focused: transparent;
    --background-color-pressed: #045b8f;
}
  
po-widget {
    
    --border-color: #24224c;
    --background-selected: var(--color-brand-01-lightest);
    --border-color-selected: #24224c;
    --border-color-hover: #24224c;
    --shadow-hover: #24224c;
}

.po-toolbar-title {
    color: #24224c;
}

.po-page-header-title-container .po-page-header-title {
    color: #24224c;
}

.po-page-login-header-welcome {
    color: #24224c;
} 

.po-field-icon:not(.po-field-icon-disabled) {
    color: #24224c;
}

.po-page-background-main-logo-image {
    max-height: max-content;
    max-width: max-content;
    top: 100px;
}

div.po-lookup-filter-content input.po-input, 
    input.po-input,
    po-datepicker, 
    po-datepicker-range, 
    po-decimal, 
    po-email, 
    po-input, 
    po-login, 
    po-lookup, 
    po-number, 
    po-password, 
    po-url,
    po-select,
    po-textarea,
    po-search,
    po-dropdown {
    --outline-color-focused: transparent;
    --color-focused: #fff100;
}

.po-table-actions-batch-actions{
    gap: 0.5em;
}

.po-widget .po-widget-action {
    color: #24224c;
}

po-loading-icon {
    --color: #fff100;
}

@font-face {
    font-family: 'TTSupermolotNeue';
    src: url('./assets/fonts/TTSupermolotNeue/TTSupermolotNeue-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TTSupermolotNeueCondensed';
    src: url('./assets/fonts/TTSupermolotNeue/TTSupermolotNeueCondensed-Med.ttf');
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'TTSupermolotNeue-Bold';
    src: url('./assets/fonts/TTSupermolotNeue/TTSupermolotNeue-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

.finalLinha{
    float: inline-end;
}

/* Disable text selection for the entire page */
body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

/* Alternatively, disable text selection for specific elements */
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

.po-page-list-filter-search-link {
    color: #24224c;
}

:root {
    --color-stepper-circle-active: #24224c;
    --color-stepper-circle-default: #24224c;
    --color-stepper-circle-disabled: var(--color-neutral-light-30);
    --color-stepper-circle-error: var(--color-feedback-negative-base);
    --outline-color-focused: transparent;
    
    --font-family-theme: TTSupermolotNeue;
    --font-family-theme-bold: TTSupermolotNeue-Bold;
    --font-family-theme-extra-light: TTSupermolotNeueCondensed;
    --font-family-heading: TTSupermolotNeue;
    --font-family: TTSupermolotNeue;

    --background: #ffffff;
    --color-hover: #fff100;
    --color-action-hover: #045b8f;

      /** Tree View Item */
    --color-tree-view-item-border-bottom-color: #24224c;

    /** Tree View Item Header */
    --color-tree-view-item-header-button-color: #24224c;
    --color-tree-view-item-header-button-focus: #24224c;
    --color-tree-view-item-header-label-text-color: #24224c;

    --color-chart-legend-wrapper-scrollbar: #fff100;
    --color-gauge-legend-scrollbar: #fff100;
    --color-page-content-background-color-scrollbar: #fff100;
    --color-popover-background-color-scrollbar: #fff100;
    --color-rich-text-background-color-scrollbar: #fff100;
    --color-rich-text-background-color-scrollbar: #fff100;
    --color-slide-background-color-scrollbar: #fff100;
    --color-table-column-manager-body-color-background-scrollbar: #fff100;
    --color-page-content-background-color-scrollbar: #fff100;

    --color-01: #0c9abe;
    --color-02: #ab43c8;
    --color-03: #abc249;
    --color-04: #c64840;
    --color-05: #06a6a5;
    --color-06: #ea9b3e;
    --color-07: #2c85c8;
    --color-08: #56b96b;
    --color-09: #2c43c8;
    --color-10: #ab4391;
    --color-11: #5843c8;
    --color-12: #00b28e;

}